
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout_sanpham.cshtml";
}

<div style="width: 100%; text-align: center; margin-bottom: 50px;">
    <img style="width:1300px;" src="~/Content/img/image1.jpg" />
    <hr />
    <h1 style="margin: 20px 0px;">Giới thiệu</h1>
    <div style="padding: 0px 100px; margin: 0px 100px;">
        <p style=" width: 100%; text-align: left;">
            Đây là nhóm 8 với 3 thành viên : Huy Huy & Thái &copy; môn Lập trình Web ngày thứ 5 
        </p>
    </div>
    <h1 style="margin: 20px 0px;">Nhà tài trợ và đối tác</h1>
    <div style="display: flex; justify-content: center; align-items: center;">
        <img style="width: 300px;" src="~/Content/img/nhataitro.jpg" />
        <img style="width: 300px;" src="~/Content/img/nhataitro1.jpg" />
        <img style="width: 300px;" src="~/Content/img/nhataitro2.jpg" />
        <img style="width: 300px;" src="~/Content/img/nhataitro3.jpg" />
    </div>
</div>

