<div class="content">

    <img src="~/Content/img/image7.jpg" />
    <div class="images">
        <img src="~/Content/img/image1.jpg" />
        <img src="~/Content/img/image2.jpg" />
        <img src="~/Content/img/image3.jpg" />
    </div>
    <hr>
</div>
